.App {
  text-align: center;
}
form{
  width: auto;
  border: none;
  padding: 20px;
}
label{
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 20px; 
}
form input[type="text"]{
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #7FDBFF;
}
form input[type="submit"]{
  font-size: 20px;
  border-radius: 20px;
  border: none;
  color: beige;
  background-color: #3D9970;
  padding: 10px;
  cursor: pointer;
}
.card{
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 17px 16px 47px -13px rgba(0,0,0,0.34);
  padding: 10px;
}
img{
  top: 15px;
  position: relative;
  width: 186px;
  height: 280px;
  background-color: #001f3f;
  overflow: hidden;
  display: inline-block;
}
.text{
  top: 0;
  display: inline-block;
  width: 300px;
  position: relative;
  text-align: left;
  padding: 10px;
}
h5{
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 20px; 
  margin: 0;
}
.text p:nth-child(3){
  font-weight: bold;
}
.line{
  display: block;
  position: absolute;
  height: 3px;
  width: 90%;
  background-color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 15cm) {
  form input[type="text"]{
    width: 85%;
  }
  form input[type="submit"]{
    width: 90%;
    margin: 3px;
  }
  .card{
    margin: auto 0;
    display: block;
    position: relative;
    padding-left: 10%;
  }
  .text h5{
    margin-top: 10px;
  }
  img{
    display: block;
    width: 90%;
    height: auto;
  }
  .text{
    display: block;
    width: 90%;
  }

}
